<ion-view title="Khanaka Dhara" id="page10">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div>
      <img src="img/kd_button.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="kdtext">
      <p>
      </p>
      <ul></ul>
      <li>
        <b>Scheme Amount:</b> Minimum 100/- to any amount as per member.</li>
      <li>
        <b>Period:</b> 12 months</li>
      <li>
        <b>USP:</b> Pay for 12 months and get back 13 months cumulative amount back.</li>
      <li>
        <b>Total Membership:</b> No limit.</li>
      <br>
      <b>Note:</b> The amount the member pay during the intial month will remain the same through out the scheme and so the member needs to decide on his investment right initially. no money in exchange of gold will be provided in any of the schemes mentioned
      above. all taxes are applicable...
      <p></p>
    </div>
    <div id="khanakaDhara-button-bar4" class="button-bar">
      <a ui-sref="fAQ" id="khanakaDhara-button25" class="button button-assertive button-small button-block">FAQ</a>
      <button id="khanakaDhara-button26" class="button button-assertive button-small button-block">Join</button>
      <a ui-sref="tabsController.contactUs" id="khanakaDhara-button27" class="button button-assertive button-small button-block">Contact</a>
    </div>
  </ion-content>
</ion-view>