<ion-view title="card Details" id="page16" >
  <ion-content padding="true" class="has-header">
    <div class="list card" id="cardDetails-card23">
      <ion-list id="cardDetails-list10">
          <div ng-repeat="schemeinfo in userSchemesSubscriptionData">
              <center> <img src={{qr_img_scheme_url_head}}{{schemeinfo.CardCode}}{{qr_img_scheme_url_tail}} alt='qr code'></center>
              <p style="text-align:center;color:black;font-size:xx-small">{{schemeinfo.CardCode}}</p>
              <hr />
              <ion-item id="cardDetails-list-item39"><b>Card Number:</b> {{schemeinfo.CardNumber}}</ion-item>
              <ion-item id="cardDetails-list-item39"><b>Card Name:</b> {{schemeinfo.CardName}}</ion-item>
              <ion-item id="cardDetails-list-item39"><b>Scheme Name:</b></ion-item>
              <ion-item id="cardDetails-list-item39"><b>Batch Code: </b> {{schemeinfo.BatchCode}}</ion-item>
              <ion-item id="cardDetails-list-item40"><b>Monthly Installment:</b> {{schemeinfo.MonthlyInstallment}} </ion-item>
              <ion-item id="cardDetails-list-item41"><b>Last Paid Amount:</b> {{schemeinfo.LastPaidAmount}} </ion-item>
              <ion-item id="cardDetails-list-item42"><b>Last Paid Date:</b> {{schemeinfo.LastPaidDate || Date}} </ion-item>
              <hr />
          </div>
      </ion-list>
      <button id="cardDetails-button55" class="button button-assertive button-small button-block">Pay</button>
      <button id="cardDetails-button56" class="button button-assertive button-small button-block" ui-sref="tabsController.userpaymenthistory({UserId: {{UserID}} })">Payment History</button>
      <div id="cardDetails-button-bar8" class="button-bar"></div>
    </div>
  </ion-content>
</ion-view>