<ion-view title="Gold Piggy Bank" id="page9">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <div>
      <img src="img/gp_button.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="gptext">
      <p>
      </p>
      <ul></ul>
      <li>
        <b>Period:</b> 12 months</li>
      <li>
        <b>Amount:</b> start with minimum amount of Rs. 300/- and maximum amount as per member choice and no limit. </li>
      <li>
        <b>USP:</b> Gold will be provided v/s monthly investment on the rate prevailing for the date.</li>
      <li>
        <b>Total membership:</b> No limit.</li>
      <br>
      <b>Note:</b> The amount the member pay during the intial month will remain the same through out the scheme and so the member needs to decide on his investment right initially. no money in exchange of gold will be provided in any of the schemes mentioned
      above. all taxes are applicable... Join Our Saving Scheme
      <p></p>
    </div>
    <div id="goldPiggyBank-button-bar3" class="button-bar">
      <a ui-sref="fAQ" id="goldPiggyBank-button22" class="button button-assertive button-small button-block">FAQ</a>
      <button id="goldPiggyBank-button23" class="button button-assertive button-small button-block">Join</button>
      <a ui-sref="tabsController.contactUs" id="goldPiggyBank-button24" class="button button-assertive button-small button-block">Contact</a>
    </div>
  </ion-content>
</ion-view>