<ion-view title="Join Scheme" id="page19">
  <ion-content padding="true" class="has-header">
    <form id="joinScheme-form5" class="list">
      <label class="item item-input" id="joinScheme-input12">
        <span class="input-label">Name</span>
        <input type="text" placeholder="" value="{{profileName}}">
      </label>
      <label class="item item-input" id="joinScheme-input15">
        <span class="input-label">Scheme Name:{{schemeName}}</span>
        
      </label>
      <label class="item item-select" id="joinScheme-select3" name="cardnumber">
        <span class="input-label">Select Card No</span>
          <select ng-options="card.Id as card.CardNo for card in cardNumbers track by card.Id" ng-model="card_details.cardNumber"></select>
      </label>
       <label>Your selected card number: {{card_details.cardNumber}}</label> 
      <label class="item item-input" id="joinScheme-input18">
        <span class="input-label">Card Name</span>
        <input type="text" ng-model="card_details.cardName" placeholder="">
      </label>
      <label class="item item-input" id="joinScheme-input16">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="" ng-model="card_details.DefinedAmount">
      </label>
      <label class="item item-select" id="joinScheme-select2" name="paymenttype">
        <span class="input-label">Payment Type</span>
        <select>
          <option>Cash</option>
          <option>Online Payment</option>
        </select>
      </label>
        <button id="joinScheme-button61" class="button button-assertive button-small button-block" ng-click="joinScheme()">Join</button>
    </form>
    
      <div ng-bind="errMessage"></div>
  </ion-content>
</ion-view>