<ion-view title="Join Scheme" id="page19">
  <ion-content padding="true" class="has-header">
    <form id="joinScheme-form5" class="list">
      <label class="item item-input" id="joinScheme-input12">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="joinScheme-input15">
        <span class="input-label">Scheme</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="joinScheme-select3" name="cardnumber">
        <span class="input-label">Select Card No</span>
        <select>
          <option>110</option>
          <option>120</option>
          <option>135</option>
          <option>146</option>
          <option>153</option>
        </select>
      </label>
      <label class="item item-input" id="joinScheme-input18">
        <span class="input-label">Card Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="joinScheme-input16">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="joinScheme-select2" name="paymenttype">
        <span class="input-label">Payment Type</span>
        <select>
          <option>Cash</option>
          <option>Online Payment</option>
        </select>
      </label>
    </form>
    <button id="joinScheme-button61" class="button button-assertive button-small button-block">Join</button>
  </ion-content>
</ion-view>