
    <ion-view title="Login" id="page6">
        <ion-content padding="true" class="has-header">
            <div ng-app="myapp" ng-controller="myCtrl">
                <form id="login-form1" class="list">
                    <div class="spacer" style="height: 50px;"></div>
                    <ion-list id="login-list2">
                        <label class="item item-input item-stacked-label login-boldtext" id="login-input1" name="username">
                            <span class="input-label">User Name</span>
                            <input type="text" ng-model="mobile" placeholder="Enter Mobile Number">
                        </label>
                        <label class="item item-input item-stacked-label login-boldtext" id="login-input2" name="password">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="password" placeholder="Enter Password">
                        </label>
                    </ion-list>
                    <div class="spacer" style="height: 40px;"></div>
                    <div>
                        <button id="login-button10" style="color:#D62D20;" class="button button-light  button-block button-outline icon-left ion-social-googleplus" ng-click="ButtonClick()">Login</button>
                         <a ui-sref="register" class="button button-assertive button-block">NEW USER REGISTRATION</a>
                    </div>
                    {{errmessage}}
                </form>
                <div id="login-button-bar1" class="button-bar"></div>
            </div>
        </ion-content>
    </ion-view>



