<ion-view title="Profile" id="page18">
    <ion-content padding="true" class="has-header">
        <ion-list id="profile-list5">
            <ion-item class="item-thumbnail-left calm" id="profile-list-item11">
                <img src="img/zWeh57yQRPOaoasdMlBs_user_male2-512.png">
                <h2calm>
                    {{profileName}}
                    <p>{{phoneNo}}</p>
                </h2calm>
            </ion-item>
        </ion-list>
        <div id="profile-button-bar9" class="button-bar">
            <button id="profile-button60" class="button button-assertive button-small">Edit Profile</button>
        </div>
        <div class="list card" id="profile-card25">
            <ion-item class="item-icon-right" id="profile-list-item22">
                My Cards
                <i class="icon ion-card"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="profile-list-item26" ui-sref="tabsController.userpaymenthistory({UserId: {{UserID}} })">
                My Payments
                <i class="icon ion-cash"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="profile-list-item32" ui-sref="welcome()">
                Join New Scheme
                <i class="icon ion-android-checkbox-outline"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="profile-list-item33">
                Invite
                <i class="icon ion-android-contacts"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>