<ion-view title="Profile" id="profile" style="background-color: ghostwhite">
    <ion-content padding="true" class="has-header">
        <center style="border: solid 1px white;background-color: ghostwhite"><img src={{qr_url}} alt='qr code' style="margin: 10px"></center>
        <p style="font-weight: bold; font-size: larger;text-align:center;margin-bottom:0px">{{profileName}}</p>
        <p style="text-align:center;margin-bottom:0px">{{phoneNo}}</p>
       
        <div class="list" id="profile-menulist" style="margin:20px;margin-top:0px; border: solid gray 1px;border-radius: 10px">
            <ion-item class="item-icon-right" id="profile-list-item22" style="margin:2px" ui-sref="tabsController.UserSchemeCards">
                My Scheme Cards
                <i class="icon ion-card"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="profile-list-item26" style="margin:2px" ui-sref="tabsController.userpaymenthistory({UserId: {{UserID}} })">
                My Payments
                <i class="icon ion-cash"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="profile-list-item32" style="margin:2px" ui-sref="tabsController.dJMJewels">
              Join Scheme
                <i class="icon ion-android-checkbox-outline"></i>
            </ion-item>

            <ion-item class="item-icon-right" id="profile-list-item33" style="margin:2px" ui-sref="tabsController.dJMJewels">
                Invite
                <i class="icon ion-android-contacts"></i>
            </ion-item>
        </div>

</ion-content>
</ion-view>