<ion-view title="Register" id="page13" ng-controller="registerCtrl">
  <ion-content padding="true" class="has-header">
    <form id="register-form4" class="list">
      <ion-list id="register-list3">
        <label class="item item-input" id="register-input8">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="register-input11">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="register-select1">
          <span class="input-label">Gender</span>
          <select>
            <option>Please Select</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </label>
        <label class="item item-input" id="register-input9">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="register-input13">
          <span class="input-label">Mobile</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input" id="register-input10">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="register-input14">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="">
        </label>
          <label class="item item-input" id="register-input15">
              <span class="input-label">Address</span>
              <input type="text" placeholder="">
          </label>
          <label class="item item-input" id="register-input16">
              <span class="input-label">City</span>
              <input type="text" placeholder="">
          </label>
          <label class="item item-input" id="register-input17">
              <span class="input-label">PostalCode</span>
              <input type="number" placeholder="">
          </label>
          <label class="item item-input" id="register-input21">
              <span class="input-label">DateOfBirth</span>
              <input type="date" placeholder="">
          </label>
          <label class="item item-select" id="register-select2">
              <span class="input-label">Maritial Status</span>
              <select ng-model="status">
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  
              </select>

          </label>
          <div ng-if="status=='Married'">
              <label class="item item-input" id="register-input23">
                  <span class="input-label">SpouceName</span>
                  <input type="text" placeholder="">
              </label>
              <label class="item item-input" id="register-input24">
                  <span class="input-label">Spouce DOB</span>
                  <input type="date" placeholder="">
              </label>
              <label class="item item-input" id="register-input25">
                  <span class="input-label">Marriage Date</span>
                  <input type="date" placeholder="">
              </label>
          </div>
          <label class="item item-input" id="register-input26">
              <span class="input-label">Profile Image URL</span>
              <input type="url" placeholder="">
          </label>


      </ion-list>
      <button id="register-button48" class="button button-assertive button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>