<ion-view title="Scheme Name" id="page20">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/QbniUD2GS5CNYFn6VH6J_djm_logo.png" style="display: block; width: 40%; height: 40%; margin-left: auto; margin-right: auto;">
    </div>
    <form id="schemeName-form6" class="list">
      <label class="item item-input" id="schemeName-input17">
        <span class="input-label">Description</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="schemeName-input19">
        <span class="input-label">Term</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="schemeName-input20">
        <span class="input-label">Batch Size</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="schemeName-input21">
        <span class="input-label">No Of Batches</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="schemeName-input22">
        <span class="input-label">Draw Date</span>
        <input type="text" placeholder="">
      </label>
      <div id="schemeName-button-bar10" class="button-bar">
        <button id="schemeName-button65" class="button button-positive button-block">1</button>
        <button id="schemeName-button66" class="button button-positive button-block">2</button>
        <button id="schemeName-button67" class="button button-positive button-block">3</button>
      </div>
    </form>
  </ion-content>
</ion-view>