<ion-view title="History Details" id="page17">
    
  <ion-content padding="true" class="has-header">
      <ion-header-bar class="bar-positive">
          <h1 class="title">Payment History</h1>
      </ion-header-bar>
    <div class="list card" id="cardDetails-card23"> 
             
       <ion-list>
                <div ng-repeat="payment in userHistoryInformation">
                    <ion-item class="item-stable" ng-click="toggleGroup(payment)" ng-class="{active: isGroupShown(payment)}">
                        <i class="icon" ng-class="isGroupShown(payment) ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                        Payment ID {{payment.PaymentId}}
                    </ion-item>
                    <ion-item class="item-accordion" ng-show="isGroupShown(payment)">PaymentID : {{payment.PaymentId}}</ion-item>
                    <ion-item class="item-accordion" ng-show="isGroupShown(payment)">Scheme Name : {{payment.Name}}</ion-item>
                    <ion-item class="item-accordion" ng-show="isGroupShown(payment)">Card NUmber : {{payment.CardNo}}</ion-item>
                    <ion-item class="item-accordion" ng-show="isGroupShown(payment)">Month : {{payment.Month}}</ion-item>
                    <ion-item class="item-accordion" ng-show="isGroupShown(payment)">PaymentMode : {{payment.PaymentMode}}</ion-item>
                    <ion-item class="item-accordion" ng-show="isGroupShown(payment)">Amount : {{payment.Amount}}</ion-item>
                </div>
        </ion-list>     
    </div>
  </ion-content>
</ion-view>