/* Empty. Add your own CSS if you like */
.class-kd {
    max-width: 100%;
    max-height: 100%;
}

.class-bb {
    max-width: 100%;
    max-height: 100%;
}

.class-ll {
    max-width: 100%;
    max-height: 100%;
}

.class-gp {
    max-width: 100%;
    max-height: 100%;
}
.list-mo {
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
}
